<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
</head>
<body>
    <h1>Users List</h1>
    <a href="{% url 'user_create' %}">Add User</a>
    <table border="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Account Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.givenName }} {{ user.firstFamilyName }} {{ user.secondFamilyName }}</td>
                    <td>{{ user.age }}</td>
                    <td>{{ user.accountName }}</td>
                    <td>
                        <a href="{% url 'user_update' user.pk %}">Edit</a>
                        <form method="POST" action="{% url 'user_delete' user.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>